* {
  --text-primary: #180415;
  --text-secondary: #fff;
  --main-bg-color: #f5d7e5;
  --nav-scroll: #e6d1da;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 2rem;
}

/* MOBILE */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }
}
