* {
  --text-primary: #f5f1e9;
  --text-secondary: #f4decb;
  --main-bg-color: #2a6669;
  --nav-scroll: #c0b283;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 2rem;
}

/* MOBILE */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  #contact .flex-items {
    margin-top: 40px;
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
  }
}

@media (max-width: 499px) {
  #contact .flex-items {
    margin-top: 40px;
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-height: 711px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  #contact .flex-items {
    margin-top: 40px;
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
  }
}

@media (max-width: 415px) {
  .content h1 {
    font-size: 40px;
  }
}

@media (max-width: 376px) {
  .content h1 {
    font-size: 30px;
  }
  .content {
    margin-top: 150px;
  }
}
