@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: var(--text-primary);
  background: var(--main-bg-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  /* color: #777; */
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

.content h1 {
  font-size: 50px;
}

#about {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .flex-items {
  margin-top: 80px;
}

.flex-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50vh;
  background-color: #a9a9a9;
}

#about.flex-items > article {
  background: #f4f4f4;
  border: #ccc solid 1px;
  margin: 10px;
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  align-items: stretch;
  /* height: 50vh; */
  /* flex: 1; */
}

#past {
  align-self: flex-start;
}

#present {
  align-self: flex-start;
}

#future {
  align-self: flex-start;
}

.navlist {
  font-size: 20px;
  letter-spacing: 0.04rem;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-scroll);
  /* opacity: 0.8; */
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: var(--text-primary);
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  color: var(--text-secondary);
}

.navbar ul {
  display: flex;
}

.navbar.top {
  background: transparent;
}

/* Header */

.hero {
  height: 100vh;
  position: relative;
  color: var(--text-primary);
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}

@media (max-height: 250px) {
  .hero .content {
    align-items: baseline;
  }
}

/* Icons */

.icons {
  padding: 20px;
}

.icons i {
  background-color: var(--text-secondary);
  color: #333;
  padding: 1rem;
  margin: 1.2rem;
  border-radius: 50%;
}

/* Contact Form */

.container {
  background: #333;
  color: white;
}
